{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    
<div class="">
    <div class="hero-text">
      <div class="row">

        <div class="col-md-12 about">

       <h4>   <p>Decaswift is a web based software engineering company that foster swift connection of software engineers to recruiting
             companies from diffrent parts of the globe. We believe in our motto "Where expertise and excellence is our match".
             You ever dream of a company who care about your best career community? Who rewards your expertise with the best companies
             in a swift way? Think greatness think  DECASWIFT!</p> <p>Where expertise and excellence are a match.
          </p>
          </h4>
          </div>

    </div>
    <div class="container">
        <div class="row">
    
    
          <div class="col-md-12"> <h1><p><span class ="white">MISSION</span></p></h1> </div>
          <div class="col-md-12"><h4><p>We are a software engineering company with the aim of connecting unemployed people for a life a digital world.</p></h4></div>
             </div>
             <br><br><br><br><br>
    
             <div class="col-md-12"> <span class ="white">VISION</span> </div>
          <div class="col-md-12">Our vision in Decaswift :
    
            <li>Eradicate unemployment.</li>
            <li>Enhance development through software engineering and ICT works.</li>
            <li>Create a community of advanced technological practices.</li>
             </div>
      </div>
    
    </div>
    <br><br><br><br><br>

{% endblock %}
