{% extends "layout.html" %}

{% block title %}
   Profile Update
{% endblock %}

{% block main %}
    

<br>
<br>
<form action="/compupdate" method="post">
<div class="container rounded bg-white mt-5 mb-5" style = 'margin-left: 20%; width: 60%;'>
        
           
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
        </div>
        
        
       
        <div class="row mt-3">
           
            <div class="col-md-12 mb-3">email<input type="text" name="email" class="form-control" placeholder={{old_email}} ></div>
            <div class="col-md-12 mb-3">website<input type="text" name="website" class="form-control" placeholder={{old_website}} ></div>
            <div class="col-md-12 mb-3">phone number<input type="text" name="phone"class="form-control" placeholder={{old_phone}}></div>
            
            <div class="form-floating mb-3">Company's description
              <textarea id = 'devPhone' class="form-control" name="description" placeholder="Leave a comment here"  style="height: 100px"></textarea>
              <label >{{old_desc}}</label>
            </div>
            <div class="form-floating ">Company's address
              <textarea id = 'devPhone' class="form-control" name="address" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2"> {{old_address}}</label>
            </div>
        </div>
        
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
    </div>


</div>
</form>

<br><br><br><br>

{% endblock %}
