{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

 
<div class="hero-image block-skewd">
  <div class="hero-text">
    <div class="grid-item">
      <div class="container-fluid">
    <h4>
    <p>
      You ever dream of a company who cares about your career? A company that rewards expertise with excellence? <br>
      Think greatness think Decaswift, Where expertise and excellence is a match!
    </p></h4></div>
    </div>
  </div>
</div>
</div>



<br>
<div class="text-center">
<img src="/static/shake.jpg" class="centered" alt="Snow" >
<img src="/static/laptop.png" class="laptop" alt="Snow">
</div>

<br><h3>
<div class="col-6 offset-4">
<p>
Start now!
Launch a career with us.
</p>
</div>
</h3>
<br>





{% endblock %}
